// colors
$primary-text: #003f88;
$secorndary-text: #004e98;
$alternative-text: #a9cef4;

$primary-bg: #ffb800;
$secondary-bg: #ffd500;
$alternative-bg: #17255a;

$primary-white: #ffffff;
$secorndary-white: #0d1321;
$alternative-white: #fffbfe;

$primary-black: #0a0908;
$secorndary-black: #0d1321;
$alternative-black: #120309;

$primary-grey: #e2dcde;
$secondary-grey: #2f2d2e;
$alternative-grey: #120309;

$alternative-bg: #fb8500;

// $primary-text: #004e98;
// $secorndary-text: #3a6ea5;
// $alternative-text: #c0c0c0;
// $primary-bg: #ebebeb;
// $secondary-bg: #ff6700;

// Media queries Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// #3a3042
// #00171F
// ##FFB800
// #fdc500
