// colors
$primary-text: #00296b;
$secorndary-text: #003f88;
$alternative-text: #00509d;
$primary-bg: #fdc500;
$secondary-bg: #ffd500;
$white: #ffffff;
$alternative-white: #f2f4f3;
$black: #0a0908;

// Media queries Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
