@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography.scss" as *;

.currentWeather {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__temperature {
    color: $secorndary-text;
  }
  &__text,
  &__description {
    color: $primary-text;
  }
}
