@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.header {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
