@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography.scss" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $primary-grey;
  padding: 2rem;
}
