@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/typography.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: $primary-black;
  background-color: $alternative-white;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $secorndary-text;
}

a:hover,
a:active {
  color: $primary-text;
}

input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 8px;
  border: 0.5px solid $primary-grey;
}
